<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Index</a></li>
            <li class="breadcrumb-item active" aria-current="page">Submit</li>
        </ol>
    </nav>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group" style="width: 40%; padding-left: 10px;">
        <p>
            <label for="id_name">Name:</label>
            <input class='form-control' type="text" name="name" maxlength="64" required id="id_name" />
        </p>
        <p>
            <label for="id_configuration">Configuration:</label>
            <textarea class='form-control' name="configuration" cols="40" rows="10" required id="id_configuration"></textarea>
        </p>
        <p>
            <label for="id_stages_number">Stages Number (temporary):</label>
            <input class='form-control' type="text" name="stages_number" required id="id_stages_number" />
        </p>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
    </form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
